#img1{
    border-width: 5px;
    border-color: blue;
    border-style: solid;


}
#img2{
    border-width: 5px;
    border-color: blue;


}
#img3{
    border-width: 5px;
    border-color: blue;
    border-style: solid;
  

}
#container{
    display: block;

}

#head{
    display: block;
    background-color: gray;
    color: red;
    font-size: 50px;
}

#head1{
    display: block;
    background-color: gray;
    color: red;
    font-size: 20px;
}